/* Roboto */
@font-face {
  font-family: 'Roboto-bold';
  src: url("fonts/roboto/bold/Roboto-Bold.eot");
  src: url("fonts/roboto/bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/bold/Roboto-Bold.woff") format("woff"), url("fonts/roboto/bold/Roboto-Bold.ttf") format("truetype"), url("fonts/roboto/bold/Roboto-Bold.svg#Roboto-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-regular';
  src: url("fonts/roboto/regular/Roboto-Regular.eot");
  src: url("fonts/roboto/regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/regular/Roboto-Regular.woff") format("woff"), url("fonts/roboto/regular/Roboto-Regular.ttf") format("truetype"), url("fonts/roboto/regular/Roboto-Regular.svg#Roboto-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-light';
  src: url("fonts/roboto/regular/Roboto-Light.eot");
  src: url("fonts/roboto/regular/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/regular/Roboto-Light.woff") format("woff"), url("fonts/roboto/regular/Roboto-Light.ttf") format("truetype"), url("fonts/roboto/regular/Roboto-Light.svg#Roboto-light") format("svg");
  font-weight: normal;
  font-style: normal;
}

.header-page, .meus-raffs .raff {
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.header-page:hover, .meus-raffs .raff:hover {
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
}

.meus-raffs h1, .perfil h2 {
  font-size: 1.875rem;
}

.lado-dir a, .meus-raffs h2, .perfil label {
  font-size: 1.375rem;
}

.input-group .placeholder, .create-raff #formCreateRaff .nome-imagem, .create-raff #formCreateRaff .placeholder-textarea, .meus-raffs .no-raff {
  font-size: 1rem;
}

.checkbox-style-1 + label, .footer-login span, .footer-page span, .meus-raffs ul, .meus-raffs .links {
  font-size: 0.75rem;
}

.btn-login, .create-raff #formCreateRaff #imagem_proj + label, .btn-create, .perfil input[type=submit], .btn-criar-raff, .landing header a, .btn-login-secundary, .btn-create-secundary {
  border-radius: 7px;
  padding: 1rem 3rem;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  font-size: 1rem;
  font-family: "Roboto-bold";
  text-transform: uppercase;
  outline: none;
  border: none;
}

.btn-login:hover, .create-raff #formCreateRaff #imagem_proj + label:hover, .btn-create:hover, .perfil input:hover[type=submit], .btn-criar-raff:hover, .landing header a:hover, .btn-login-secundary:hover, .btn-create-secundary:hover {
  text-decoration: none;
}

.btn-login, .create-raff #formCreateRaff #imagem_proj + label, .btn-create, .perfil input[type=submit], .btn-criar-raff, .landing header a {
  background-color: #eb3107;
  color: #ffffff;
  -webkit-box-shadow: 0px 21px 32px rgba(235, 49, 7, 0.2);
  box-shadow: 0px 21px 32px rgba(235, 49, 7, 0.2);
}

.btn-login:hover, .create-raff #formCreateRaff #imagem_proj + label:hover, .btn-create:hover, .perfil input:hover[type=submit], .btn-criar-raff:hover, .landing header a:hover {
  background-color: #d12b06;
  color: #ffffff;
  -webkit-box-shadow: 0px 11px 22px rgba(235, 49, 7, 0.1);
  box-shadow: 0px 11px 22px rgba(235, 49, 7, 0.1);
}

.btn-login-secundary, .btn-create-secundary {
  border: 1px solid #bfbfbf;
  background-color: transparent;
  color: #bfbfbf;
}

.btn-login-secundary:hover, .btn-create-secundary:hover {
  border-color: #767d7d;
  color: #767d7d;
}

.msg-danger, .msg-attention, .msg-success {
  font-family: "Roboto-bold";
  font-size: 1rem;
  padding: 1rem;
  display: block;
  border-radius: 7px;
}

.msg-danger {
  background-color: rgba(255, 67, 67, 0.2);
  color: #ff4343;
  border: 1px solid #ff4343;
}

.msg-attention {
  background-color: rgba(241, 196, 15, 0.2);
  color: #f1c40f;
  border: 1px solid #f1c40f;
}

.msg-success {
  background-color: rgba(51, 240, 8, 0.2);
  color: #33f008;
  border: 1px solid #33f008;
}

.lado-esq {
  width: 45%;
  height: 100vh;
  background-color: #d12b06;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.lado-dir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 55%;
  height: 100vh;
  background-color: #f6f4f4;
  float: right;
  padding: 3rem;
  position: relative;
}

.lado-dir .header {
  width: 100%;
  margin-bottom: 4em;
}

.lado-dir a {
  font-family: "Roboto-bold";
  color: #767d7d;
}

.lado-dir a:hover {
  text-decoration: none;
}

.lado-dir a.active {
  color: #2e3131;
}

.lado-dir a:first-child {
  margin-right: 2rem;
}

.item {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  -webkit-transform: translate3d(-50px, 0px, 0px);
          transform: translate3d(-50px, 0px, 0px);
}

.item.active {
  opacity: 1;
  visibility: visible;
  position: relative;
  top: auto;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.input-group {
  position: relative;
}

.input-group input[type=text], .input-group input[type=password] {
  font-family: "Roboto-regular";
  font-size: 1rem;
  margin-bottom: 1rem;
  background: none;
  width: 34.875rem;
  height: 3.3125rem;
  border-radius: 7px;
  border: 1px solid #2e3131;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input-group input[type=text]:focus, .input-group input[type=password]:focus {
  outline: none;
  border-color: #2e3131;
  color: #2e3131;
}

.input-group .placeholder {
  font-family: "Roboto-regular";
  position: absolute;
  top: 35%;
  left: 1rem;
  margin-top: -8px;
  color: #2e3131;
  background-color: inherit;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  pointer-events: none;
}

.input-group #view-pass {
  position: relative;
  right: 3rem;
  top: .5rem;
}

.input-group input:focus + .placeholder, .input-group input:not(:invalid) + .placeholder {
  color: #2e3131;
  font-family: "Roboto-bold";
  top: 0%;
  margin-top: -16px;
  background-color: #f6f4f4;
  padding: 4px 16px;
}

.checkbox-style-1 {
  position: absolute;
  opacity: 0;
}

.checkbox-style-1 + label {
  position: relative;
  cursor: pointer;
  font-family: "Roboto-bold";
  color: #2e3131;
}

.checkbox-style-1 + label:before {
  content: '';
  margin-right: 16px;
  margin-top: -3px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: none;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
}

.checkbox-style-1:hover + label:before {
  border: 1px solid #33f008;
}

.checkbox-style-1:focus + label:before {
  -webkit-box-shadow: 0 0 0 3px rgba(51, 240, 8, 0.12);
          box-shadow: 0 0 0 3px rgba(51, 240, 8, 0.12);
}

.checkbox-style-1:checked + label:before {
  border: 1px solid #33f008;
}

.checkbox-style-1:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 8px;
  background: #33f008;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 #33f008, 4px 0 0 #33f008, 4px -2px 0 #33f008, 4px -4px 0 #33f008, 4px -6px 0 #33f008, 4px -8px 0 #33f008;
          box-shadow: 2px 0 0 #33f008, 4px 0 0 #33f008, 4px -2px 0 #33f008, 4px -4px 0 #33f008, 4px -6px 0 #33f008, 4px -8px 0 #33f008;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.msg-danger {
  width: 558px;
  margin: 1.5rem 0;
}

.msg-attention {
  width: 558px;
  margin: 1.5rem 0;
}

.msg-success {
  width: 558px;
  margin: 1.5rem 0;
}

.footer-login {
  width: 80%;
  position: absolute;
  bottom: 0;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-login span {
  font-family: "Roboto-bold";
}

.footer-login img {
  margin-right: 1rem;
}

.header-page {
  width: 100%;
  height: 7rem;
  background-color: #ffffff;
  font-family: "Roboto-bold";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 2px solid #eb3107;
}

.header-page nav {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.header-page nav ul {
  list-style: none;
  font-size: 1rem;
}

.header-page nav ul li {
  margin-right: 2rem;
  display: inline;
}

.header-page nav ul li a {
  color: #eb3107;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  padding: 10px 10px;
}

.header-page nav ul li a:hover {
  color: #ab2405;
}

.header-page .logout a {
  color: #eb3107;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  padding: 10px 10px;
}

.header-page .logout a:hover {
  color: #ab2405;
}

.footer-page {
  width: 100%;
  height: 12.5rem;
  background-color: #ab2405;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 3rem;
}

.footer-page span {
  font-family: "Roboto-regular";
  color: #ffffff;
  letter-spacing: 1px;
  margin-top: 2rem;
}

.create-raff #formCreateRaff h2 {
  font-family: "Roboto-bold";
  font-size: 1.875rem;
  margin-bottom: 2rem;
}

.create-raff #formCreateRaff h2:first-child {
  margin-top: 10rem;
}

.create-raff #formCreateRaff .input-group {
  margin-bottom: 2rem;
}

.create-raff #formCreateRaff .input-group input[type=text], .create-raff #formCreateRaff .input-group input[type=email], .create-raff #formCreateRaff .input-group select {
  font-family: "Roboto-regular";
  font-size: 1rem;
  margin-bottom: 1rem;
  background: none;
  width: 100%;
  height: 3.3125rem;
  border-radius: 7px;
  border: 1px solid #2e3131;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.create-raff #formCreateRaff .input-group input[type=text]:focus, .create-raff #formCreateRaff .input-group input[type=email]:focus, .create-raff #formCreateRaff .input-group select:focus {
  outline: none;
  border-color: #2e3131;
  color: #2e3131;
}

.create-raff #formCreateRaff .input-group select option {
  padding: 2rem;
}

.create-raff #formCreateRaff .input-group textarea {
  font-family: "Roboto-regular";
  font-size: 1rem;
  background: none;
  width: 100%;
  height: 15.625rem;
  border-radius: 7px;
  border: 1px solid #2e3131;
  padding: 20px 20px 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
}

.create-raff #formCreateRaff .input-group textarea:focus {
  outline: none;
  border-color: #2e3131;
  color: #2e3131;
}

.create-raff #formCreateRaff input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.create-raff #formCreateRaff #imagem_proj + label {
  cursor: pointer;
}

.create-raff #formCreateRaff .nome-imagem {
  font-family: "Roboto-regular";
  color: #2e3131;
  display: inline-block;
  margin-top: 2rem;
}

.create-raff #formCreateRaff .placeholder-textarea {
  font-family: "Roboto-regular";
  position: absolute;
  top: 10%;
  left: 1.5rem;
  margin-top: -8px;
  color: #2e3131;
  background-color: inherit;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  pointer-events: none;
}

.create-raff #formCreateRaff textarea:focus + .placeholder-textarea, .create-raff #formCreateRaff textarea:not(:invalid) + .placeholder-textarea {
  color: #2e3131;
  font-family: "Roboto-bold";
  top: 0%;
  margin-top: -16px;
  background-color: #f6f4f4;
  padding: 4px 16px;
}

.create-raff .img-raff {
  width: 25%;
  height: auto;
}

.input-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3rem 0;
}

.meus-raffs {
  width: 100%;
  min-height: 600px;
}

.meus-raffs h1 {
  font-family: "Roboto-bold";
  color: #2e3131;
  margin-bottom: 3rem;
}

.meus-raffs .raff {
  width: 16.25rem;
  height: 18.75rem;
  background-color: #ffffff;
  border-radius: 7px;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: left;
  margin-right: 1.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.meus-raffs .raff:before {
  content: '';
  display: block;
  background: #eb3107;
  width: 7.75rem;
  height: 0.625rem;
  top: 0;
  position: absolute;
  z-index: 1;
}

.meus-raffs h2 {
  font-family: "Roboto-bold";
  color: #2e3131;
  margin-top: 3rem;
  text-align: center;
}

.meus-raffs ul {
  font-family: "Roboto-regular";
}

.meus-raffs .links {
  width: 100%;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto-bold";
}

.meus-raffs .links img {
  width: 1rem;
  height: auto;
  margin-right: .5rem;
}

.meus-raffs .links .excluir {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.meus-raffs .links a {
  color: #2e3131;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.meus-raffs .links a:hover {
  color: #eb3107;
}

.meus-raffs .no-raff {
  width: 100%;
  height: 18.75rem;
  font-family: "Roboto-regular";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.meus-raffs .no-raff img {
  width: 21.875rem;
  height: auto;
}

.perfil {
  width: 100%;
  min-height: 700px;
}

.perfil .photo-profile {
  width: 9.375rem;
  height: 9.375rem;
  background-color: #ffffff;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.perfil h2 {
  font-family: "Roboto-bold";
  color: #2e3131;
  margin-bottom: 3rem;
}

.perfil label, .perfil input[type=text] {
  display: block;
}

.perfil label {
  margin: 1rem 0;
  font-family: "Roboto-regular";
  color: #2e3131;
}

.perfil input[type=text], .perfil input[type=password] {
  font-family: "Roboto-regular";
  font-size: 1rem;
  margin-bottom: 1rem;
  background: none;
  width: 100%;
  height: 3.3125rem;
  border-radius: 7px;
  border: 1px solid #2e3131;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.perfil input[type=text]:focus, .perfil input[type=password]:focus {
  outline: none;
  border-color: #2e3131;
  color: #2e3131;
}

.perfil input[type=submit] {
  margin-top: 2rem;
}

.modal-container {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal {
  min-width: 300px;
  background-color: white;
  padding: 40px;
  border: 10px solid #fb5;
  -webkit-box-shadow: 0 0 0 10px white;
          box-shadow: 0 0 0 10px white;
  position: relative;
}

.fechar {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 50px;
  height: 50px;
  border: 4px solid white;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: #e54;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
}

.modal label {
  font-family: 'IBM Plex Mono', monospace;
  display: block;
  font-weight: bold;
  margin: 1rem 0 .5rem 0;
}

.modal input {
  width: 100%;
  padding: .7rem .5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal button[type="submit"] {
  display: block;
  background-color: #e54;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: .7rem 2rem;
  font-size: 1rem;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.modal-container.ativo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ativo .modal {
  -webkit-animation: modal .3s forwards ease-in-out;
          animation: modal .3s forwards ease-in-out;
}

@-webkit-keyframes modal {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes modal {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.new-raff {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 800px;
}

body {
  background-color: #f6f4f4;
}

.img-icone {
  width: 1.5rem;
  height: auto;
}

.logo-lg {
  width: 9.375rem;
  height: 3.375rem;
}

.cta-criar-raff {
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing header {
  width: 100%;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3rem;
}

.landing header a {
  float: right;
}

.landing main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 43.75rem;
}

.landing main h1 span {
  display: block;
  font-family: "Roboto-bold";
}

.landing main h1 span:first-child {
  font-size: 4rem;
  color: #eb3107;
}

.landing main h1 span:last-child {
  font-size: 3rem;
  color: #2e3131;
}

.landing main img {
  top: 10rem;
}

.landing .conteudo {
  width: 100%;
  height: 62.5rem;
}

.landing footer {
  width: 100%;
  height: 12.9375rem;
  background-color: #ab2405;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing footer span {
  font-family: "Roboto-bold";
  font-size: 0.75rem;
  color: #ffffff;
}

.landing footer span:first-child {
  float: left;
}

.landing footer span:last-child {
  float: right;
}
/*# sourceMappingURL=style.css.map */